* {
    margin: 0;
    padding: 0;
}
.front-page {
    width: 100vw;
    height: auto;
    background-color: antiquewhite;

}
.banner {
width: 80%;
justify-content: center;
margin: 20px auto;
}
.banner img {
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0 20px;
}
.logo {
    font-size: 1.5rem;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.navbar ul li {
    list-style: none;
    text-decoration: none;
}
.navbar ul li a{
   color: black;
    text-decoration: none;
}
.front-page-container {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.main-title {
    font-size: 40px;
    font-weight: 500;
    padding: 20px;
}
.btn-01 {
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}
.Page-02 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 30px;
}
.team-photo-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.team-photo-container img {
    width: 100%;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.features {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 20px; 
}
.large-photo img {
    width: 80%;
}
.contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.content {
    text-align: justify;
    box-shadow: 10px 10px 5px #aaaaaa;
}





/* --------------
responsive style 
-----------------*/
@media screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:20px 10px;
        gap: 15px;
    }
    .Page-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .team-photo-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .team-photo{
        width: 80%;
    }
    
}